.buton {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: #d5dadd;
    border: 2px solid #454545;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.buton:hover:not(:disabled) {
    background-color: #2980b9;
}

.buton:disabled {
    background-color: #bdc3c7;
    border-color: #95a5a6;
    cursor: not-allowed;
}