.litere {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
}

.literaBtn {
  margin: 5px;
}

.btnDinNou{
    width: 100px;
    height: 30px;
    margin-top: 20px;
}
